<h1>Your Photos</h1><br>

<%= link_to 'Upload new photo', new_photo_path %><br>



<% @photos.each do |photo| %>
	<img><%= link_to image_tag(photo.image, :width => "40%", :height => "40%"), photo_path(photo) %></img>
	<p><strong><%= photo.caption %></strong></p><br>
 <% end %>
